.blog-article {
  display: flex;
  background-color: $light-background-color;

  &--big {
    position: relative;
    grid-row: span 2;
  }

  @media (max-width: $tablet-width) {
    justify-content: space-between;

    &--big {
      order: 2;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    flex-direction: column;
  }
}

.blog-article img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  @media (max-width: $mobile-width) {
    height: auto;
  }
}

.blog-article__img {
  @media (max-width: $mobile-width) {
    display: flex;
  }
}

.blog-article__img picture {
  display: flex;
  height: 100%;

  @media (max-width: $mobile-width) {
    width: 100%;
    height: auto;
  }
}

.blog-article--normal .blog-article__img {
  width: 50%;

  @media (max-width: $tablet-width) {
    max-height: 300px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    max-height: 100%;
  }
}

.blog-article--img-right .blog-article__img {
  order: 2;

  @media (max-width: $mobile-width) {
    order: 0;
  }
}

.blog-article--big .blog-article__img {
  width: 100%;

  @media (max-width: $tablet-width) {
    width: 50%;
    max-height: 300px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    max-height: 100%;
  }

  @media (max-width: 320px) {
    max-height: 256px;
  }
}

.blog-article__info {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 50%;
  padding-top: 68px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  background-color: $light-background-color;

  @media (max-width: $tablet-width) {
    width: 50%;
    padding-left: 85px;
    padding-right: 85px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 100%;
    padding-top: 47px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 51px;
  }
}

.blog-article--big .blog-article__info {
  position: absolute;
  bottom: 0;
  right: 0;

  @media (max-width: $tablet-width) {
    padding-top: 85px;
    position: static;
  }

  @media (max-width: $mobile-width) {
    padding-top: 62px;
    padding-bottom: 68px;
  }
}

.blog-article__info time {
  font-size: 14px;
  line-height: 18px;
  color: $light-text;
}

.blog-article__info h3 {
  @include cg-text;
  margin-top: 12px;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: $black;
}

.blog-article__info a {
  @include more-link;
  align-self: center;
}
