.catalog {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 80px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    padding-top: 49px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 40px;
  }
}

.catalog__aside {
  width: 250px;
  margin-right: 30px;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 38px;
  }
}

.catalog__container {
  display: flex;
  flex-wrap: wrap;
  width: 74.3%;
  flex-shrink: 2;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    justify-content: space-between;
  }
}

.catalog__filter {
  font-weight: 500;

  @media (max-width: $tablet-width) {
    position: relative;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);

    &--hide {
      display: none;
    }
  }
}

.catalog__filter a {
  display: block;
  padding: 23px 25px;
}

a.catalog__filter-close {
  display: none;

  @media (max-width: $tablet-width) {
    @include size(32px, 32px);
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0;
    background-color: $main-text;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    text-indent: -99999px;
    z-index: 5;
  }
}

.catalog__mobile-filter {
  display: none;

  @media (max-width: $tablet-width) {
    @include button-main;

    &--hide {
      display: none;
    }
  }
}

.catalog__filter fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border-top: 1px solid $main-theme-color;
  border-right: 1px solid $main-theme-color;
  border-left: 1px solid $main-theme-color;
  border-bottom: none;

  &:last-of-type {
    border-bottom: 1px solid $main-theme-color;
    margin-bottom: 35px;
  }

  @media (max-width: $tablet-width) {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $main-theme-color;
  }
}

.catalog__filter .tab-content {
  position: relative;
  margin-top: 67px;
  padding-left: 35px;
  padding-right: 10px;
  padding-bottom: 11px;
}

.catalog__filter .tab::before {
  top: calc(50% - 6px);
  right: 10.5%;

  @media (max-width: $tablet-width) {
    @include size(14px, 14px);
    top: calc(50% - 15px);
    right: 7%;
  }
}

.catalog__filter .tab--open::before {
  @media (max-width: $tablet-width) {
    top: calc(50% - 5px);
  }
}

.catalog__filter legend {
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  float: left;

  &:hover {
    color: $main-theme-color;
  }

  &::after {
    content: " ";
    display: table;
    clear: both;
  }
}

.catalog__filter label {
  position: relative;
  display: block;
  padding-left: 25px;
  margin-top: 3px;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;

  &::before {
    @include pseudo(0, 0, 15px, 15px);
    border: 1px solid $main-theme-color;
    cursor: pointer;
  }

  &:hover {
    color: $main-theme-color;
    opacity: 0.9;
  }
}

.catalog__filter input:checked + label::before {
  background-color: $main-theme-color;
}

.catalog__filter button[type="submit"] {
  @include button-main;
  margin-bottom: 23px;
}

.catalog__filter button[type="reset"] {
  @include button-additional;
}
