.header {
  position: relative;
  font-weight: 500;

  @media (max-width: $tablet-width) {
    &--nojs {
      background-color: $main-theme-color;
    }

    &--beige {
      background-color: $main-theme-color;
    }
  }
}

.header__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 41px;

  @media (max-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 53px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.header__mobile-menu-btn {
  @include size(25px, 16px);
  display: none;
  position: relative;
  border: none;
  background: transparent;
  border-top: 2px solid $main-text;
  border-bottom: 2px solid $main-text;
  cursor: pointer;

  &::before {
    @include pseudo(calc(50% - 1px), 0, 100%, 2px);
    background-color: $main-text;
  }

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.header__logo {
  display: block;
  position: absolute;
  top: 30px;
  left: calc(50% - 33px);
  transition: 0.3s;

  @media (max-width: $mobile-width) {
    top: 20px;
    left: calc(50% - 26px);
  }
}

.header__logo[href] {
  &:hover {
    transform: scale(1.1);
    fill: darken($main-theme-color, 25%);
  }

  &:active {
    opacity: 0.8;
  }
}

.header__logo--white svg {
  @media (max-width: $tablet-width) {
    fill: $white;
  }
}

.header__logo svg {
  @media (max-width: $mobile-width) {
    @include size(52px, 52px);
  }
}

.header__search {
  position: relative;
  width: 200px;

  @media (max-width: $tablet-width) {
    display: none;
    width: 100%;
    order: 2;
  }
}

.header__search button {
  @include size(14px, 14px);
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: 0.3s;

  @media (max-width: $tablet-width) {
    fill: $white;
    left: 15px;
  }
}

.header__search:hover button {
  transform: scale(1.3);
}

.header__search input {
  @include size(100%, 40px);
  @include poppins-text;
  padding-left: 30px;
  border-radius: 21px;
  border: none;
  font-size: 14px;
  color: $light-text;

  &::placeholder {
    color: $light-text;
  }

  &:hover::placeholder {
    color: $main-text;
  }

  @media (max-width: $tablet-width) {
    padding-left: 45px;
    background-color: rgba(255, 255, 255, 0.15);
    color: $white;

    &::placeholder {
      color: transparent;
    }
  }
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.header__links a {
  display: block;
  font-size: 14px;
  line-height: 21px;

  &:not(:last-child) {
    margin-right: 35px;
  }

  @media (max-width: $tablet-width) {
    text-indent: -9999px;
  }
}

.header__basket-link {
  position: relative;
  stroke: $main-text;

  @media (max-width: $tablet-width) {
    @include size(18px, 16px);

    &--white {
      stroke: $white;
    }
  }
}

.header__basket-link span {
  padding-left: 3px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__basket-link svg {
  display: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 18px;
  }
}

.header__login-link {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header a {
  &:hover {
    color: $main-theme-color;
  }

  &:active {
    color: $link-active;
  }
}

.header__mobile-nav {
  display: none;
}

.header__basket-link--nojs svg {
  @media (max-width: $tablet-width) {
    stroke: $white;
  }
}

.header__logo--nojs svg {
  @media (max-width: $tablet-width) {
    fill: $white;
  }
}

.header--nojs .header__wrapper,
.header--beige .header__wrapper {
  @media (max-width: $tablet-width) {
    padding-bottom: 26px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 38px;
  }
}

.header--nojs .header__search,
.header--beige .header__search {
  @media (max-width: $tablet-width) {
    display: block;
    margin-top: 62px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 45px;
  }
}

.header--nojs .header__mobile-menu-btn,
.header--beige .header__mobile-menu-btn {
  @media (max-width: $tablet-width) {
    border-color: $white;

    &::before {
      background-color: $white;
    }
  }
}

.header--nojs a,
.header--beige a {
  @media (max-width: $tablet-width) {
    color: $white;

    &:hover {
      color: $white;
      opacity: 0.8;
    }

    &:active {
      color: $light-background-color;
      opacity: 0.8;
    }
  }
}
