.main-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 18px;
  border-top: 1px solid #f6f5f4;

  @media (max-width: $tablet-width) {
    display: none;
    padding-left: 45px;
    padding-right: 45px;
    border-top: none;

    &--nojs {
      display: block;
    }

    &--open {
      display: block;
      height: calc(100vh - 180px);
      overflow-y: auto;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-nav__header-menu {
  @include list;
  max-width: 1260px;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    line-height: 36px;
  }
}

.main-nav__header-menu li {
  margin: 0 17px;

  &:first-child {
    margin-left: 28px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 21px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.main-nav__mobile-menu,
.main-nav__login-link {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav__login-link {
  font-size: 18px;
  line-height: 23px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.main-nav__mobile-menu {
  @media (max-width: $tablet-width) {
    @include list;
    padding-top: 20px;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 23px;
  }

  @media (max-width: $mobile-width) {
    @include list;
    padding-top: 8px;
    padding-bottom: 17px;
  }
}

.main-nav__mobile-menu li {
  margin-bottom: 20px;
}

.main-nav__mobile-menu a {
  color: rgba(255, 255, 255, 0.75);
}
