.products-slider {
  position: relative;
  padding-top: 92px;
  padding-bottom: 86px;
  text-align: center;
  font-weight: 500;

  &--detail {
    padding-top: 91px;
    padding-bottom: 124px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 37px;

    &--detail {
      padding-top: 41px;
      padding-bottom: 72px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 31px;
    padding-bottom: 25px;

    &--detail {
      padding-top: 24px;
      padding-bottom: 64px;
    }
  }
}

.products-slider h2 {
  @include medium-title;
  margin-bottom: 24px;

  @media (max-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.products-slider > a {
  @include more-link;
  margin-bottom: 59px;

  @media (max-width: $tablet-width) {
    margin-bottom: 51px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 42px;
  }
}

.products-slider--detail h2 {
  margin-bottom: 21px;
  letter-spacing: normal;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}
