.subscription-form {
  flex-basis: 500px;
  flex-shrink: 5;

  @media (max-width: $tablet-width) {
    flex-basis: 560px;
    flex-shrink: 0;
    margin-bottom: 48px;
  }

  @media (max-width: $mobile-width) {
    flex-basis: 100%;
    max-width: 560px;
    margin-bottom: 45px;
  }
}

.subscription-form p {
  color: $light-text;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;

  @media (max-width: $mobile-width) {
    max-width: 240px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
  }
}

.subscription-form__title {
  @include medium-title;
  margin-left: -5px;

  @media (max-width: $mobile-width) {
    max-width: 240px;
  }
}

.subscription-form__email-wrapper {
  display: flex;
  border-bottom: 1px solid $white;
}

.subscription-form__email-wrapper input:hover::placeholder {
  color: $white;
}

.subscription-form__email-wrapper input {
  @include base-input;
  width: 100%;
}

.subscription-form__submit {
  width: min-content;
  min-width: 110px;
  padding-right: 0;
  border: none;
  background-color: transparent;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

.subscription-form__submit svg {
  margin-left: 8px;
  transition: 0.5s;
}

.subscription-form__submit:hover svg {
  stroke: $light-text;
  transform: scale(1.2);
}
