@mixin cg-text {
  font-family: "CG", "Times New Roman", serif;
}

@mixin poppins-text {
  font-family: "Poppins", "Arial", sans-serif;
}

@mixin main-text {
  @include poppins-text;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: $main-text;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin pseudo($top, $left, $width, $height) {
  content: "";
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin wrapper() {
  max-width: 1260px;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin medium-title {
  @include cg-text;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
}

@mixin base-input {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $light-text;
}

@mixin more-link {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  border-bottom: 1px solid $main-theme-color;

  &:hover {
    color: $main-theme-color;
  }

  &:active {
    border-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 21px;
  }
}

@mixin button-base {
  @include poppins-text;
  display: block;
  width: 100%;
  padding: 24px 15px;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

@mixin button-main {
  @include button-base;
  background-color: $main-theme-color;
  border: none;
  color: $white;

  &:hover {
    background-color: darken($main-theme-color, 10%);
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: lighten($main-theme-color, 5%);
  }
}

@mixin button-additional {
  @include button-base;
  background-color: transparent;
  border: 1px solid $main-theme-color;
  color: $main-text;

  &:hover {
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
  }

  &:active {
    opacity: 0.8;
  }
}
