/* color palette */

$white: #ffffff;
$black: #000000;
$main-text: #1d1613;
$light-text: #9b9997;

$main-theme-color: #a87b62;
$light-background-color: #f0eae4;

$link-active: #d69b7b;

/* resolutions */

$mobile-width: 767px;
$tablet-width: 1023px;
